/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
  * Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
.navDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 1%;
  position: sticky;
  top: 0;
}
.navDiv .logo {
  width: 18%;
  display: flex;
  align-items: center;
}
.navDiv nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.5rem;
}
.navDiv nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.homepageHeader {
  background-image: url(../images/whiteshelf.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepageHeader .filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.homepageHeader .filter .titleDivContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homepageHeader .filter .titleDivContainer .maybeLogo {
  margin-bottom: 3%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepageHeader .filter .titleDivContainer .maybeLogo img {
  width: 70%;
}
.homepageHeader .filter .titleDivContainer .maybeLogo p {
  color: white;
  font-size: 1.2rem;
}
.homepageHeader .filter .titleDivContainer .titleDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.homepageHeader .filter .titleDivContainer .titleDiv h1 {
  text-align: center;
  color: white;
  margin: 15% 5% 4% 4%;
}
.homepageHeader .filter .titleDivContainer .titleDiv div {
  text-align: center;
  width: 25%;
  font-size: 2.5rem;
  text-decoration: none;
  margin: 4% 0;
  border-radius: 5px;
  background-color: #37adbf;
}
.homepageHeader .filter .titleDivContainer .titleDiv div:hover {
  background-image: none;
  background-color: white;
}
.homepageHeader .filter .titleDivContainer .titleDiv div a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 6% 7%;
}
.homepageHeader .filter .titleDivContainer .titleDiv div a:hover {
  color: #05172e;
}
.midsection {
  background: #e6e6e6;
  margin-top: 4%;
  padding-bottom: 10%;
  padding-top: 5%;
}
.midsection div {
  text-align: center;
}
.midsection div h2 {
  padding-top: 4%;
}
.rowOfCards {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}
.cardContainer {
  width: 25%;
  border: 1px solid #2a8391;
  border-radius: 5px;
  padding: 2% 1%;
}
.cardContainer .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardContainer .card .paraDiv {
  padding: 5%;
  line-height: 1.5;
  text-align: left;
}
.buttonDiv {
  background: #2a8391;
  width: 30%;
}
.buttonDiv a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 10%;
}
.bottomSection div {
  text-align: center;
  height: 300px;
  width: 100%;
}
.bottomSection div h2 {
  padding-top: 4%;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  background: #2a8391;
}
footer p {
  padding: 1% 0;
  color: white;
}
.aboutBody {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}
header h1 {
  color: white;
}
header img {
  width: 23%;
}
.aboutContainer h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 4% 0;
}
.aboutCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4% 0;
}
section div .aboutContainer .aboutCard div img {
  border: 2px solid red;
  border-radius: 100%;
  width: 90%;
}
.odd {
  flex-direction: row-reverse;
}
.aboutCard div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutTextContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-right: 6%;
}
.aboutText {
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 10%;
  background: black;
  width: 90%;
  border-radius: 1%;
}
