.aboutBody {
  background: #0b2024;
  background-size: cover;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  h1 {
    color: white;
  } //end h1
  img {
    width: 23%;
  } //end img
} //end header

section {
  div {
    .aboutContainer {
      .aboutCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4% 0;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            font-size: 2.5rem;
            text-align: center;
            margin: 4% 0;
          } //end h3
          img {
            border-radius: 100%;
            width: 90%;
          } //end img
        } //end div
        .aboutTextContainer {
          width: 60%;
          display: flex;
          justify-content: center;
          margin-right: 6%;
          .aboutText {
            line-height: 1.5;
            font-size: 1.2rem;
            padding: 10%;
            background: #143a40;
            width: 90%;
            border-radius: 1%;
          }
        } //end aboutTextContainer
      } //aboutCard
      .odd {
        flex-direction: row-reverse;
      } //end odd
    } //end aboutContainer
  } //end div
} //end section

.aboutFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  background: white;
  color: black;

  p {
    padding: 1% 0;
    color: black;
  }
}
