.navDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 1%;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px #888888;

  .logo {
    width: 18%;
    display: flex;
    align-items: center;
  }
  nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.5rem;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
    }
  }
} //end navdiv
